.signin{
    /* background-color: lightcoral; */
    
}
.markee{
    color: rgb(0, 0, 0);
    font-family: "Pacifico", cursive; 
    /* font-family: Arial, sans-serif; */
}
.markee1{
    color: rgb(231, 25, 42);
    font-family: "Pacifico", cursive; 
    /* font-family: Arial, sans-serif; */
}
.table{
    padding-right: 10px;
    margin-bottom: 20px;
}